# Lab 2

# q1

In [ ]:
my_name = 'natalie'
print (my_name)

# q2

In [12]:
my_id = 1234
print (my_id)

1234

# q3

In [ ]:
my_id_str = "1234"
print (my_id_str)

# q4

In [ ]:
my_name + my_id

no you cannot perform because you cannot add a string and an integer

# q5

In [ ]:
my_name + my_id_str

# q6

In [ ]:
'hello, world. This is my first python string.'.split('.')

# q7

In [2]:
str_list = ['a','b','c','e','d']
str_list.sort()
print (str_list)

['a', 'b', 'c', 'd', 'e']

# q8

In [3]:
str_list.append('f')
print (str_list)

['a', 'b', 'c', 'd', 'e', 'f']

# q9

In [4]:
str_list.remove('d')
print (str_list)

['a', 'b', 'c', 'e', 'f']

# q10

In [5]:
str_list[2]

'c'

# q11

In [6]:
number_list [12, 32, 43, 35]
str_list + number_list

NameError: name 'number_list' is not defined

This cannot be performed because a list containing strings cannot be added with a list containing integers

# q12

In [14]:
my_dict = {'name':'natalie','id':my_id}
print (my_dict)

{'name': 'natalie', 'id': 1234}

# q13

In [15]:
my_dict['name'] = 'tobin'
print (my_dict)

{'name': 'tobin', 'id': 1234}

# q14

In [16]:
print (my_dict['id'])

1234

# q15

In [18]:
my_dict['id'] = 5678
print (my_dict)

{'name': 'tobin', 'id': 5678}

# q16

In [19]:
my_dict['number_list'] = number_list
print (my_dict)

NameError: name 'number_list' is not defined