# Q1

In [38]:
import xlrd

book = xlrd.open_workbook('house_price.xls')

sheet = book.sheet_by_name('price')

for i in range(sheet.nrows):
    row = sheet.row_values(i)
    print (row)

['price', 'bathroom', 'house_type', 'lot_size', 'built_in', 'area']
[159900.0, 1.0, ' single-family home', 5662.0, 1924.0, 1584.0]
[1100000.0, 1.0, ' single-family home', 4138200.0, 1932.0, 900.0]
[182000.0, 2.0, ' condo', 7405.0, 1945.0, 1622.0]
[169900.0, 1.0, ' single-family home', 36155.0, 1950.0, 1556.0]
[148500.0, 1.0, ' single-family home', 9147.0, 1959.0, 1000.0]
[444900.0, 6.0, ' single-family home', 28314.0, 1961.0, 5201.0]
[178000.0, 2.0, ' single-family home', 11326.0, 1964.0, 1188.0]
[209000.0, 2.0, ' single-family home', 9147.0, 1966.0, 1918.0]
[349900.0, 2.0, ' single-family home', 204732.0, 1967.0, 3850.0]
[1100000.0, 2.0, ' single-family home', 4356000.0, 1970.0, 2541.0]
[239000.0, 3.0, ' single-family home', 12197.0, 1972.0, 2210.0]
[149900.0, 2.0, ' single-family home', 8712.0, 1975.0, 1810.0]
[294900.0, 2.0, ' single-family home', 30928.0, 1978.0, 3150.0]
[625000.0, 6.0, ' single-family home', 14810.0, 1985.0, 5299.0]
[309900.0, 3.0, ' single-family home', 15246.0, 1986.0, 2136.0]
[179900.0, 2.0, ' single-family home', 13068.0, 1988.0, 1237.0]
[339900.0, 3.0, ' single-family home', 14375.0, 1993.0, 2003.0]
[134900.0, 2.0, ' townhouse', 2300.0, 1994.0, 920.0]
[359000.0, 4.0, ' single-family home', 10130.0, 1997.0, 2903.0]
[529900.0, 5.0, ' single-family home', 19166.0, 1998.0, 5202.0]
[149900.0, 3.0, ' townhouse', 2291.0, 1999.0, 1440.0]
[394000.0, 2.0, ' single-family home', 18295.0, 2001.0, 2616.0]
[229900.0, 2.0, ' single-family home', 10018.0, 2002.0, 1541.0]
[439000.0, 4.0, ' single-family home', 18731.0, 2005.0, 3819.0]
[146900.0, 3.0, ' condo', 2178.0, 2006.0, 1276.0]
[174900.0, 3.0, ' single-family home', 2469.0, 2007.0, 1344.0]
[445000.0, 4.0, ' single-family home', 21780.0, 2010.0, 3504.0]
[659000.0, 4.0, ' single-family home', 21780.0, 2014.0, 5156.0]
[429000.0, 5.0, ' single-family home', 7405.0, 2017.0, 2799.0]
[429000.0, 4.0, ' single-family home', 22651.0, 2018.0, 3145.0]

In [39]:
price_list = []
bath_list = []
htype_list = []
lot_size_list = []
year_list = []
area_list = []

for i in range(sheet.nrows):
    price,bath,htype,lot_size,year,area = sheet.row_values(i)
    if i !=0:
#        print(price,bath,htype,lot_size,year,area)
        price_list.append(price)
        bath_list.append(bath)
        htype_list.append(htype)
        lot_size_list.append(lot_size)
        year_list.append(year)
        area_list.append(area)
print (price_list)
print (bath_list)
print (htype_list)
print (lot_size)
print (year_list)
print (area_list)

[159900.0, 1100000.0, 182000.0, 169900.0, 148500.0, 444900.0, 178000.0, 209000.0, 349900.0, 1100000.0, 239000.0, 149900.0, 294900.0, 625000.0, 309900.0, 179900.0, 339900.0, 134900.0, 359000.0, 529900.0, 149900.0, 394000.0, 229900.0, 439000.0, 146900.0, 174900.0, 445000.0, 659000.0, 429000.0, 429000.0]
[1.0, 1.0, 2.0, 1.0, 1.0, 6.0, 2.0, 2.0, 2.0, 2.0, 3.0, 2.0, 2.0, 6.0, 3.0, 2.0, 3.0, 2.0, 4.0, 5.0, 3.0, 2.0, 2.0, 4.0, 3.0, 3.0, 4.0, 4.0, 5.0, 4.0]
[' single-family home', ' single-family home', ' condo', ' single-family home', ' single-family home', ' single-family home', ' single-family home', ' single-family home', ' single-family home', ' single-family home', ' single-family home', ' single-family home', ' single-family home', ' single-family home', ' single-family home', ' single-family home', ' single-family home', ' townhouse', ' single-family home', ' single-family home', ' townhouse', ' single-family home', ' single-family home', ' single-family home', ' condo', ' single-family home', ' single-family home', ' single-family home', ' single-family home', ' single-family home']
22651.0
[1924.0, 1932.0, 1945.0, 1950.0, 1959.0, 1961.0, 1964.0, 1966.0, 1967.0, 1970.0, 1972.0, 1975.0, 1978.0, 1985.0, 1986.0, 1988.0, 1993.0, 1994.0, 1997.0, 1998.0, 1999.0, 2001.0, 2002.0, 2005.0, 2006.0, 2007.0, 2010.0, 2014.0, 2017.0, 2018.0]
[1584.0, 900.0, 1622.0, 1556.0, 1000.0, 5201.0, 1188.0, 1918.0, 3850.0, 2541.0, 2210.0, 1810.0, 3150.0, 5299.0, 2136.0, 1237.0, 2003.0, 920.0, 2903.0, 5202.0, 1440.0, 2616.0, 1541.0, 3819.0, 1276.0, 1344.0, 3504.0, 5156.0, 2799.0, 3145.0]

In [40]:
import numpy as np

# Q2

In [41]:
print ('mean house price is {}'.format(np.mean(price_list)))
print ('median house price is {}'.format(np.median(price_list)))
print ('std house price is {}'.format(np.std(price_list)))

mean house price is 356700.0
median house price is 302400.0
std house price is 245840.21233313315

# Q3

In [42]:
print (np.corrcoef(price_list,bath_list))
print ('the cor price and # is {}'.format(np.corrcoef(price_list,bath_list)[0][1]))
print ('the cor price and # is {}'.format(np.corrcoef(price_list,lot_size_list)[0][1]))
print ('the cor price and # is {}'.format(np.corrcoef(price_list,area_list)[0][1]))
print ('the cor price and # is {}'.format(np.corrcoef(price_list,year_list)[0][1]))

[[1.         0.22789992]
 [0.22789992 1.        ]]
the cor price and # is 0.2278999173038209
the cor price and # is 0.8106869237150935
the cor price and # is 0.407551408717802
the cor price and # is -0.038346537078653466

# Q4

In [43]:
from scipy import stats


result1 = stats.linregress(price_list,area_list)

print (result1.pvalue)
print (result1.slope)
print (result1.intercept)
print (result1.rvalue * result1.rvalue)

0.025387094399552994
0.0022332084272528117
1699.0812206655887
0.1660981507478648

In [44]:
result2 = stats.linregress(area_list,price_list)

print (result2.pvalue)
print (result2.slope)
print (result2.intercept)
print (result2.rvalue * result1.rvalue)

0.025387094399552994
74.37646603912873
171081.13292168107
0.1660981507478648

In [45]:
result3 = stats.linregress(year_list,price_list)

print (result3.pvalue)
print (result3.slope)
print (result3.intercept)
print (result3.rvalue * result1.rvalue)

0.8405564564153876
-382.3268717298298
1114764.977036849
-0.01562818520585464

In [46]:
result4 = stats.linregress(bath_list,price_list)

print (result4.pvalue)
print (result4.slope)
print (result4.intercept)
print (result4.rvalue * result1.rvalue)

0.22580469278106366
40480.85846867748
240654.87238979124
0.09288093234384273

# Q5

In [47]:
print ('price of house with 4 bathrooms is ${}'.format(result4.slope*4+result4.intercept))

price of house with 4 bathrooms is $402578.3062645012

In [48]:
print ('price of house with 2000 sqft is ${}'.format(result2.slope*2000+result2.intercept))

price of house with 2000 sqft is $319834.06499993854

In [49]:
print ('price of house built in 2000 is ${}'.format(result3.slope*2000+result3.intercept))

price of house built in 2000 is $350111.23357718927